<section class="footer-container">
<section class="footer-banner">
    <div class="container">
        <div class="footer-banner col-3">
            <div class="col-xs-4">
                <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
                Livraison gratuite<p><small>Commande supérieur à 50€</small></p>
            </div>
            <div class="col-xs-4">
                <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
                Paiement sécurisé<p><small>Plateforme de paiement multiple</small></p>
            </div>
            <div class="col-xs-4">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                Besoin d'aide<p><small>Questions ? Voir notre FAQ </small></p>
            </div>
        </div>
    </div>

</section>
    <section class="footer-block">
<div class="container footer">

    <div class="row footer">
        <div class="col-xs-3">
            <div><h3>Contact</h3>
                <div class="colorTexte"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Brussels City</div>
                <div class="colorTexte"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Hessane.yassir@outlook.com</div>
            </div>
        </div>
        <div class="col-xs-3">
            <h3>Liens utiles</h3>
            <div>
                <ul class="list-unstyled">
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Connexion</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Créer un compte</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Panier</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Commander</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-3">
            <h3>Newletter</h3>
            <p>Enregistrez vous pour recevoir nos dernières nouvelles.</p>

            <form action="" method="post">
                <div class="input-group"><span class="add-on"><i class="icon-envelope"></i></span>
                    <input class="form-control" type="text" id="" name="" placeholder="votre@email.com">

                    <br />
                        <span class="input-group-btn">
                        <button class="btn btn-warning" type="button" class="btn btn-large" >Souscrire</button></span>
                </div>

            </form>
        </div>
        <div class="col-xs-3">
            <h3>Suivez-nous</h3>
        </div>
    </div><!-- row footer --><br><br>
</div><!-- container footer -->
    </section>
<section class="footer-info">
<div class="container">
    <div class="footerBas">
        <div class="footerBasMargin">
            <span class="pull-left ctnMarginL"><a href="#">Contactez-nous</a></span>
            <span class="pull-right ctnMarginR" ><a href="#">Copyright © 2015 Iepscf</a></span>
        </div>
    </div>
</div>
    </section>
</section>