<div class="container">
        <div class="footerAdmin">
            <br><br><br>
            <p>© IEPSCF 2015 - Développé par Hessane Yassir - FrameWork Symfony 2.6 - Contributions de Hessane Yassir</p>
        </div>
    </p>
</div>