<thead>
<tr>
    <th>Id</th>
    <th>Titre de la rubrique</th>
    <th>En ligne</th>
    <th>Action</th>
</tr>
</thead>
<tbody>
<tr>
    <td></td>
    <td>{{ categorie.nomCategorie }}</td>
    <td></td>
    <td></td>
</tr>

</tbody>